<div class="row">
  <h1>Proyectos Realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 pt1">
      <h1>Proyecto</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam cumque
        modi possimus eius, maxime enim repellat asperiores iste unde corporis.
      </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 pt2">
      <img src="../../../assets/APLogo.png" class="img-fluid img-project"/>
    </div>
  </div>
</div>
