<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Educacion</h1>
        <h3>-años</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque,
          adipisci modi. Atque eligendi quasi illo quos, quae debitis fugit
          mollitia.
        </p>
      </li>
      <li>
        <h1>Educacion</h1>
        <h3>-años</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque,
          adipisci modi. Atque eligendi quasi illo quos, quae debitis fugit
          mollitia.
        </p>
      </li>
    </ul>
  </div>
</div>
